In [3]:
import pandas as pd
series1=pd.Series([4.5, 7.2, -5.3, 3.6],index=['d','b','a','c'])
series1

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [6]:
series1['d']
series1[0]
series1['d':'a']

/tmp/ipykernel_10773/3786545860.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series1[0]

d    4.5
b    7.2
a   -5.3
dtype: float64

In [8]:
display(series1)
series1.reindex(['a','b','c','d'])
series1.reindex(['a','b'])

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

a   -5.3
b    7.2
dtype: float64

In [11]:
display(series1)
series1.values
series1.to_list()

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

[4.5, 7.2, -5.3, 3.6]

In [17]:
import numpy as np
import pandas as pd
frame1=pd.DataFrame(np.arange(9).reshape(3,3),
            index = ['a','c','d'],
            columns = ['台北','台中','高雄'] 
            )
frame1

   台北  台中  高雄
a   0   1   2
c   3   4   5
d   6   7   8