In [3]:
import numpy as np
import pandas as pd
scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],
             index = range(1,51)
             )
scores_pd

     國文  英文  數學  地理   歷史
1    93  51  80  84   71
2    70  56  74  74   83
3    76  77  53  85   71
4    52  57  91  61   52
5    74  91  66  65   50
6    55  68  58  76   56
7    96  87  78  61   74
8    89  61  98  57   61
9    58  73  60  99   85
10   99  85  81  54   82
11   82  70  51  78   90
12   67  76  83  98   64
13   86  52  53  53   85
14   51  82  96  89   67
15   77  93  71  86   95
16   85  92  88  85   57
17   96  95  85  81   62
18   63  57  53  78   50
19   93  70  87  71   54
20   54  77  93  65   83
21   78  61  66  81   99
22   83  71  65  59   84
23   61  66  96  99   61
24   53  67  82  82   66
25  100  62  68  76   99
26   78  67  71  61   65
27   72  87  94  99   85
28   53  59  80  86   66
29   69  60  64  91   77
30   61  65  66  65   57
31   59  98  91  82   54
32   66  59  80  79   74
33   50  80  52  92   61
34   81  86  63  94   69
35   58  62  50  57   80
36   56  98  61  91  100
37   70  95  61  62   60
38   51  93  84  72   67
39   53  79  88  58   58
40   88  90  58  83   74
41   78  86  87  97   70
42   71  80  74  77   76
43   69  95  98  92   83
44   99  79  67  62   60
45   63  96  89  51   84
46   90  95  77  86   91
47   84  72  68  50   79
48   51  55  69  90   53
49   85  84  67  54   67
50   70  91  92  96   93

In [5]:
scores_pd.index.name = "學號"
scores_pd.columns.name = "科目"
scores_pd

科目   國文  英文  數學  地理   歷史
學號
1    93  51  80  84   71
2    70  56  74  74   83
3    76  77  53  85   71
4    52  57  91  61   52
5    74  91  66  65   50
6    55  68  58  76   56
7    96  87  78  61   74
8    89  61  98  57   61
9    58  73  60  99   85
10   99  85  81  54   82
11   82  70  51  78   90
12   67  76  83  98   64
13   86  52  53  53   85
14   51  82  96  89   67
15   77  93  71  86   95
16   85  92  88  85   57
17   96  95  85  81   62
18   63  57  53  78   50
19   93  70  87  71   54
20   54  77  93  65   83
21   78  61  66  81   99
22   83  71  65  59   84
23   61  66  96  99   61
24   53  67  82  82   66
25  100  62  68  76   99
26   78  67  71  61   65
27   72  87  94  99   85
28   53  59  80  86   66
29   69  60  64  91   77
30   61  65  66  65   57
31   59  98  91  82   54
32   66  59  80  79   74
33   50  80  52  92   61
34   81  86  63  94   69
35   58  62  50  57   80
36   56  98  61  91  100
37   70  95  61  62   60
38   51  93  84  72   67
39   53  79  88  58   58
40   88  90  58  83   74
41   78  86  87  97   70
42   71  80  74  77   76
43   69  95  98  92   83
44   99  79  67  62   60
45   63  96  89  51   84
46   90  95  77  86   91
47   84  72  68  50   79
48   51  55  69  90   53
49   85  84  67  54   67
50   70  91  92  96   93

In [12]:
display(scores_pd['國文'][:10])
scores_pd['數學'][:10]

學號
1     93
2     70
3     76
4     52
5     74
6     55
7     96
8     89
9     58
10    99
Name: 國文, dtype: int64

學號
1     80
2     74
3     53
4     91
5     66
6     58
7     78
8     98
9     60
10    81
Name: 數學, dtype: int64

In [10]:
scores_pd['國文'] + scores_pd['英文'] 
+ scores_pd['地理'] + scores_pd['數學'] + scores_pd['歷史']

學號
1     235
2     231
3     209
4     204
5     181
6     190
7     213
8     216
9     244
10    217
11    219
12    245
13    191
14    252
15    252
16    230
17    228
18    181
19    212
20    241
21    246
22    208
23    256
24    230
25    243
26    197
27    278
28    232
29    232
30    188
31    227
32    233
33    205
34    226
35    187
36    252
37    183
38    223
39    204
40    215
41    254
42    227
43    273
44    189
45    224
46    254
47    197
48    212
49    188
50    281
dtype: int64

In [41]:
import numpy as np
import pandas as pd
scores = np.random.randint(50,101,size=(28,5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],
             index = range(1,29)
             )
scores_pd.index.name = "學號"
scores_pd.columns.name = "科目"
scores_pd
scores_pd['國文'] + scores_pd['英文'] 
+ scores_pd['地理'] + scores_pd['數學'] + scores_pd['歷史']

學號
1     232
2     233
3     198
4     212
5     213
6     185
7     223
8     239
9     203
10    230
11    242
12    221
13    183
14    207
15    200
16    250
17    252
18    228
19    207
20    236
21    257
22    185
23    197
24    246
25    254
26    212
27    207
28    250
dtype: int64

In [42]:
scores_pd['總分'] = scores_pd[['國文','英文','數學','地理','歷史']].sum(axis=1)
scores_pd
scores_pd['平均'] = scores_pd[['國文','英文','數學','地理','歷史']].mean(axis=1)
scores_pd

科目   國文   英文   數學  地理  歷史   總分    平均
學號
1    53   64   75  97  60  349  69.8
2    77   75   70  64  99  385  77.0
3    61   94   54  78  66  353  70.6
4    79   88  100  56  56  379  75.8
5    58  100   63  52  98  371  74.2
6    88   87   77  58  50  360  72.0
7   100   97   80  60  83  420  84.0
8   100   61   67  78  94  400  80.0
9    52   87   68  83  52  342  68.4
10   95   91   58  95  77  416  83.2
11   69   62   78  66  98  373  74.6
12   59   90   86  51  84  370  74.0
13   84   88   78  53  52  355  71.0
14   91   88   67  62  78  386  77.2
15   95   97   53  60  87  392  78.4
16   77   50   77  89  84  377  75.4
17   95   87   77  81  94  434  86.8
18   97   58   85  56  87  383  76.6
19   75   95  100  54  53  377  75.4
20   56   74   89  68  79  366  73.2
21   76   68   99  83  75  401  80.2
22   62   65   58  70  57  312  62.4
23   66   53   57  73  67  316  63.2
24   73   66   90  94  62  385  77.0
25   83   64  100  69  85  401  80.2
26   55   70   79  61  72  337  67.4
27   81   88   67  50  90  376  75.2
28   95   87   90  66  94  432  86.4

In [43]:
scores_pd['排名']= scores_pd['總分'].rank(method='min',ascending=False)
scores_pd.sort_values(by='排名')

科目   國文   英文   數學  地理  歷史   總分    平均    排名
學號
17   95   87   77  81  94  434  86.8   1.0
28   95   87   90  66  94  432  86.4   2.0
7   100   97   80  60  83  420  84.0   3.0
10   95   91   58  95  77  416  83.2   4.0
25   83   64  100  69  85  401  80.2   5.0
21   76   68   99  83  75  401  80.2   5.0
8   100   61   67  78  94  400  80.0   7.0
15   95   97   53  60  87  392  78.4   8.0
14   91   88   67  62  78  386  77.2   9.0
2    77   75   70  64  99  385  77.0  10.0
24   73   66   90  94  62  385  77.0  10.0
18   97   58   85  56  87  383  76.6  12.0
4    79   88  100  56  56  379  75.8  13.0
19   75   95  100  54  53  377  75.4  14.0
16   77   50   77  89  84  377  75.4  14.0
27   81   88   67  50  90  376  75.2  16.0
11   69   62   78  66  98  373  74.6  17.0
5    58  100   63  52  98  371  74.2  18.0
12   59   90   86  51  84  370  74.0  19.0
20   56   74   89  68  79  366  73.2  20.0
6    88   87   77  58  50  360  72.0  21.0
13   84   88   78  53  52  355  71.0  22.0
3    61   94   54  78  66  353  70.6  23.0
1    53   64   75  97  60  349  69.8  24.0
9    52   87   68  83  52  342  68.4  25.0
26   55   70   79  61  72  337  67.4  26.0
23   66   53   57  73  67  316  63.2  27.0
22   62   65   58  70  57  312  62.4  28.0

In [44]:
scores_pd.style\
.highlight_between(left=0,
                    right=59,
                    color='blue',
                    subset=['國文','英文','數學','地理','歷史'],
                    props='color:red:background-color:white')\
.format(precision=0,subset=['平均','排名'])