In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.317905  1.006421
1    a  two  0.796181  1.111656
2    b  one  0.107547  0.180024
3    b  two -0.697050 -0.895107
4    a  one -1.538924 -0.992991

In [4]:
df1 = df.groupby(by=['key1','key2']).sum()
df1

              data1     data2
key1 key2
a    one  -1.856829  0.013430
     two   0.796181  1.111656
b    one   0.107547  0.180024
     two  -0.697050 -0.895107